<div id="main" >
  <img src="assets/background.jpg" alt="prius" width="100%">
  <div class="textBox">
    <div class="title">
      Хариуцлагатай түрээс - Нэмэлт орлогын шинэ боломж!
    </div>
  </div>
  <div class="text">2024 © RentalX Mongolia.</div>
  <div class="textRight" (click)="window.open('https://unsplash.com/@usukbayer')">Гэрэл зургийг Ганхуягийн Өсөхбаяр</div>
</div>
<div class="flex justify-content-center align-items-center"  id="rent" style="width: 90vw; height: calc(100vh - 100px)">
  <div class="grid">
    <div class="col-7">
      <div class="flex justify-content-left" style="width: 100%; margin-left: 100px">
        <div class="textBox">
          <div class="title">
            Автомашин түрээсийн үйлчилгээ
          </div>
          <div class="line"></div>
          <div class="text">
            Танд автомашин худалдан авах шаардлага төдийлөн гараад байдаггүй ч тодорхой нөхцөлд такси барихад төлбөр их гарах гээд байдаг аль эсвэл овор хэмжээтэй зүйл тээвэрлэх зэрэг автомашины хэрэгцээ гардаг бол энэхүү үйлчилгээг санал болгож байна.
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="flex justify-content-center align-items-center" style="width: 100%; height: calc(100vh - 130px)">
        <img src="assets/prius.png" alt="prius" height="450px" style="transform: scaleX(-1);">
      </div>
    </div>
  </div>
</div>
<div class="flex justify-content-center align-items-center" id="rental" style="width: 90vw; height: calc(100vh - 130px)">
  <div class="grid">
    <div class="col-7">
      <div class="flex justify-content-center align-items-center" style="width: 100%; height: calc(100vh - 130px)">
        <img src="assets/sonata8.png" alt="prius" height="450px" style="transform: scaleX(-1);">
      </div>
    </div>
    <div class="col-5">
      <div class="flex justify-content-left" style="width: 100%; margin-left: 100px">
        <div class="textBox">
          <div class="title">
            Автомашин түрээслүүлэх үйлчилгээ
          </div>
          <div class="line"></div>
          <div class="text">
            Та өөрийн эзэмшлийн автомашинаа хөдөө орон нутаг болон хот, баяр ёслол, үйлчилгээ зэрэг бүхий л төрлийн үйлчилгээнд явуулж орлого олох боломжтой.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-content-center align-items-center"  id="about" style="width: 90vw; height: calc(100vh - 130px)">
  <div class="grid">
    <div class="col-7">
      <div class="flex justify-content-left" style="width: 100%; margin-left: 100px">
        <div class="textBox">
          <div class="title">
            RentalX-ийн тухай
          </div>
          <div class="line"></div>
          <div class="text">
            РенталИкс компаниас автомашины түрээсийн үйлчилгээг албан ёсоор зах зээлд гаргаж хэрэглэгч та бүхэнд санал болгож эхэллээ.
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="grid">
          <div class="col-5 bold">
            Холбоо барих утас:
          </div>
          <div class="col-7 bold">
            Байршил:
          </div>
          <div class="col-5">
            +976 7007-8000x
          </div>
          <div class="col-7">
            Хан-Уул дүүрэг 5-р хороо
            48-р байр 10 давхар
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="flex justify-content-center align-items-center" style="width: 100%; height: calc(100vh - 130px)">
        <img src="assets/LC-300.png" alt="prius" height="450px" style="transform: scaleX(-1);">
      </div>
    </div>
  </div>
</div>
