@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-blue: #1B1C30;
  --main-red: #DA0615;
  --main-font: "Exo 2", sans-serif;
  --main-box-shadow: 0 0 10px -3px;
}

@font-face {
  font-family: "Exo 2", sans-serif;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
}
body{
  margin: 0;
  font-family: var(--main-font) !important;
}
.color-red{
  color: var(--main-red);
}
.color-blue{
  color: var(--main-blue);
}
.background-blue{
  background: var(--main-blue);
  color:white;
}
.background-white{
  background: #E5E5E5;
  color: var(--main-blue);
}
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-left {
  justify-content: left;
}
.justify-content-right {
  justify-content: right;
}
.align-items-center {
  align-items: center;
}
.align-items-left {
  align-items: start;
}
.align-items-right {
  align-items: end;
}
button{
  padding: 5px 25px !important;
  background: var(--main-blue);
  border: none;
  color: white;
  border-radius: 20px;
  font-weight: normal !important;
}
.p-button-label{
  font-weight: normal !important;
}
.body{
  padding: 20px
}
.title{
  font-weight: bold;
  font-size: 40px;
  color: var(--main-blue);
}
.line{
  background: var(--main-red);
  height: 3px;
  border-radius: 3px;
  width: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text{
  margin-top: 15px;
  font-weight: normal;
  font-size: 20px;
  color: rgba(27, 28, 48, 0.51);
}
.textBox{
  padding: 10px;
  width: 508px;
  margin: 100px 0px 100px;
}
.bold{
  font-weight: bold;
}
.footer{
  width: 50%;
  background: var(--main-blue);
  color: white;
  padding: 20px 30px;
  font-size: 12px;
  border-radius: 20px;
  margin: 100px 100px 20px;
}
.footer div{
  padding: 0px;
}
.p-card{
  box-shadow: 0 0 10px -3px;
  border-radius: 20px;
}
.top-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  background-color: #f1f1f1; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #1B1C30; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}

/* For Firefox */
.scrollable {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #1B1C30 #f1f1f1; /* Thumb color and track color */
}
#main{
  margin: -200px -20px -20px;
}
.p-inputtext{
  border-radius: 20px;
  padding: 8px 24px;
  width: 100%;
  border: none;
  color: var(--main-blue) 0.4;
  background: #E5E5E5;
}
.inputTitle{
  margin: 5px;
}
.main-button{
  border-radius: 25px 25px 80px 25px;
  padding: 10px 48px !important;
}
.p-card .p-card-content{
  padding: 0
}
