<div class="topbar" id="topbar">
  <div class="grid">
    <div class="col-8">
      <div class="flex align-items-center justify-content-left">
        <div class="logo" id="logo" routerLink="/about" (click)="scrollToMain()">
          <span class="color-blue" (click)="scrollToMain()">Rental</span>
          <span class="color-red" (click)="scrollToMain()">X</span>
        </div>
        <div class="menu-title"  (click)="scrollToAbout()">Бидний тухай</div>
        <div class="menu-title"  (click)="scrollToRent()">Түрээслэх</div>
        <div class="menu-title"  (click)="scrollToRental()">Түрээслүүлэх</div>
      </div>
    </div>
    <div class="col-4">
      <div class="flex align-items-center justify-content-right">
        <div class="menu-title" routerLink="/register">Бүртгүүлэх</div>
        <p-button label="Нэвтрэх" routerLink="/login"></p-button>
      </div>
    </div>
  </div>
</div>
